/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1;
    font-family: arial;
    background: var(--offwhite);
}

.background, .frame {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

/* Variables */
:root {
    --offwhite: #FAF9F6;
    --accentColor: #003366;
    --headerHeight: calc(32px + 4vw);
    --headerLine: calc(32px + 3.5vw);
    --footerHeight: calc(5px + 2vw);
    --footerLine: calc(5px + 1.5vw);
    --sideFrame: calc(10px + 4.5vw);
    --contentTopMargin: calc(35px + 4vw);
    --contentSideMargin: calc(14px + 4.5vw);
}

/* Frame */
.frame {
    position: absolute;
    z-index: auto;
}

.frame-filltop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--headerHeight);
}


.frame-topline1 {
    top: var(--headerLine);
}

.frame-topline2 {
    top: var(--headerHeight)
}

.frame-fillLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--sideFrame);
    height: 100%;
}

.frame-leftline {
    left: var(--sideFrame);
}

.frame-fillright {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--sideFrame);
    height: 100%;
}

.frame-rightline {
    right: var(--sideFrame);
}

.frame-fillbottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--footerHeight);
}

.frame-bottomline1 {
    bottom: var(--footerHeight);
}

.frame-bottomline2 {
    bottom: var(--footerLine);
}

.frame-topline1, .frame-topline2, .frame-bottomline1, .frame-bottomline2 {
    left: 0;
    height: 1px;
    width: 100%;
}

.frame-leftline, .frame-rightline {
    top: 0;
    width: 1px;
    height: 100%;
}

.frame-topline1, .frame-topline2, .frame-bottomline1, .frame-bottomline2, .frame-leftline, .frame-rightline {
    position: absolute;
    background-color: var(--accentColor);
}

.frame-rect {
    position: absolute;
    width: var(--sideFrame);
    height: 0.5vw;
    background-color: var(--accentColor);
}

.frame-rect1 {
    left: 0;
    top: var(--headerLine);
}

.frame-rect2 {
    right: 0;
    top: var(--headerLine);
}

.frame-rect3 {
    left: 0;
    bottom: var(--footerLine);
}

.frame-rect4 {
    right: 0;
    bottom: var(--footerLine);
}

/* Navigation Bar */
nav ol {
    position: absolute;
    right: var(--sideFrame);
    display: flex;
    top: 0;
    justify-items: right;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    border-style: solid;
    border-width: 1px;
    border-color:red;
}

.resume {
    list-style: none;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--accentColor);
}

nav ol .resume a {
    color: var(--accentColor);
}

nav ol li, nav ol .resume {
    margin: 10px;
    padding: 1vw 1vw;
    color: gray;
}

nav a {
    color: var(--accentColor);
    margin: 0;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color:red;
}

nav a:hover {
    color: gray;
}

@media only screen and (max-width: 560px) {

    nav .navbar-contents {
        visibility: collapse;
    }

    nav .dropdown-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        height: var(--headerLine);
        width: var(--sideFrame);

        border-style: solid;
        border-width: 1px;
        border-color:red;
    }

    .btn {
        background-color: var(--offwhite);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .bx {
        position: relative;
        display: inline-block;
        font-size: 32px;
    }

    .dropdown {
        position: absolute;
        flex-direction: column;
        box-shadow:#003366;
        border-radius: 5px;
        margin-top: 0.3rem;
        background: white;

        visibility: collapse;
        opacity: 0;
        transform: translateY(0.5rem);
        transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    }

    .dropdown li {
        display: flex;
        align-items: center;
        column-gap: 1vh;
        padding: 0.8rem 1rem;
        color: black;
    }

    .dropdown a:hover {
        background-color: var(--accentColor);
        color: white;
    }

    .show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0rem);
    }

    .arrow {
        transform: rotate(180deg);
        transition: 0.3s ease;
    }

    /*
    nav .dropdown {
        position: absolute;
        display: flex;
        justify-content: center;
        right: 0;
        top: 0;
        height: var(--headerLine);
        width: var(--sideFrame);
        z-index: 3;
        transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

        transform: translateY(0.5rem);
        visibility: hidden;
        opacity: 0;

        border-style: solid;
        border-width: 1px;
        border-color:red;
    }

    .show {
        transform: translateY(0rem);
        visibility: visible;
        opacity: 1;
    }

    .dropdown button {
        border-style: solid;
        border-width: 1px;
        border-color:red;

        position: relative;
        display: inline-block;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        font-size: 1.3rem;
        width: 100%;
        cursor: pointer;
        z-index: 4;
    }

    #Arrow {
        display: inline-block;
        transform: rotate(180deg);
        transition: 0.2s ease;
        z-index: 9;
    }

    nav i {
        height: 3.5vw;
        width: auto;
    }

    .dropdown a {
        display: flex;
        align-items: center;
    } */
}

/*Main*/

/*Title Page*/
main, .content {
    position: relative;
    margin: var(--contentTopMargin) var(--contentSideMargin) 0;
}

#title-page {
    position: relative;
    top: var(--headerHeight);
    margin-left: var(--sideFrame);
    margin-right: var(--sideFrame);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}