/* Universal Styles */

/* Variables */
:root {
    --offwhite: #fffee8;
    --secondaryColor: #993333;
    --headerHeight: calc(32px + 4vw);
    --headerLine: calc(32px + 3.5vw);
    --footerHeight: calc(5px + 2vw);
    --footerLine: calc(5px + 1.5vw);
    --sideFrame: calc(10px + 4.5vw);
    --contentTopMargin: calc(35px + 4vw);
    --contentSideMargin: calc(14px + 4.5vw);
}

[data-theme="light"] {
    --accentColor: #003366;
    --backgroundColor: #fffee8;
    --triadicColor: #71706e;
    --textColor: black;
    .off-white-signature {
        display: none;
    }
}

[data-theme="dark"] {
    --accentColor: #fcf6ec;
    --backgroundColor: #003366;
    --triadicColor: #afada8;
    --textColor: white;
    .maroon-signature {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    line-height: 1;
    font-family: 'Sometype Mono', monospace;
    background: var(--backgroundColor);
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h4 {
    color: var(--textColor);
    font-size: 2rem;
}

a {
    color: var(--triadicColor);
    cursor: pointer;
}

a:hover {
    color: var(--secondaryColor);
}

.target {
    position: absolute;
    z-index: 3;
    top: -100px;
}

hr {
    border: none;
    border-top: 3px double;
    margin-bottom: 0.7rem;
    color: var(--accentColor)
}

.secondary-color {
    color: var(--secondaryColor);
}

.triadic-color {
    color: var(--triadicColor);
}

.background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

/* Frame */
.frame-filltop {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: var(--headerHeight);
    pointer-events: auto;
}


.frame-topline1 {
    top: var(--headerLine);
}

.frame-topline2 {
    top: var(--headerHeight)
}

.frame-fillLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--sideFrame);
    height: 100%;
}

.frame-leftline {
    left: var(--sideFrame);
}

.frame-fillright {
    position: absolute;
    right: 0;
    top: 0;
    width: var(--sideFrame);
    height: 100%;
}

.frame-rightline {
    right: var(--sideFrame);
}

.frame-fillbottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: var(--footerHeight);
}

.frame-bottomline1 {
    bottom: var(--footerHeight);
}

.frame-bottomline2 {
    bottom: var(--footerLine);
}

.frame-topline1, .frame-topline2, .frame-bottomline1, .frame-bottomline2 {
    position: fixed;
    left: 0;
    height: 1px;
    width: 110%;
    z-index: 3;
}

.frame-leftline, .frame-rightline {
    position: fixed;
    top: 0;
    width: 1px;
    height: 110%;
    z-index: 3;
}

.frame-topline1, .frame-topline2, .frame-bottomline1, .frame-bottomline2, .frame-leftline, .frame-rightline {
    position: fixed;
    background-color: var(--accentColor);
}

.frame-rect {
    position: fixed;
    width: var(--sideFrame);
    height: 0.5vw;
    background-color: var(--accentColor);
    z-index: 3;
}

.frame-rect1 {
    left: 0;
    top: var(--headerLine);
}

.frame-rect2 {
    right: 0;
    top: var(--headerLine);
}

.frame-rect3 {
    left: 0;
    bottom: var(--footerLine);
}

.frame-rect4 {
    right: 0;
    bottom: var(--footerLine);
}

/* Navigation Bar */
.nav-art {
    position: absolute;
    width: 35vw;
    height: calc(var(--headerLine) - 1rem);
    bottom: 0.35rem;
    left: var(--sideFrame);
}

.nav-art img {
    position: absolute;
    background: none;
}

nav ol {
    position: absolute;
    right: var(--sideFrame);
    display: flex;
    top: 0;
    justify-items: right;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 0;
    padding-top: 0;
    list-style: none;
}

.resume a, .dropdown .resume a {
    list-style: none;
    color: var(--accentColor);
    background: var(--seashell);
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: var(--accentColor);
    padding: 0.8vw 1.1vw;
    box-shadow: inset 0 0 0 0 var(--accentColor);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.resume a:hover, .dropdown .resume a:hover {
    box-shadow: inset 100px 0 0 0 var(--accentColor);
    color: var(--backgroundColor);
}

nav ol li, nav ol .resume {
    margin: 10px;
    padding: 1vw 1vw;
    color: gray;
    margin-left: 20px;
}

nav a {
    color: var(--accentColor);
    margin: 0;
    width: 100%;
}

nav a:hover {
    color: var(--secondaryColor);
}

/*Dropdown*/
.dropdown-container {
    visibility: hidden;
}

.btn {
    display: flex;
    cursor: pointer;
    border: solid;
    border-width: 1px;
    border-color: var(--accentColor);
    border-radius: 2px;
    position: relative;
    float: right;
    top: calc(var(--headerLine) / 4);
    right: calc(var(--sideFrame) + 1.2rem);
}

.fa-angles-down, .btn p {
    font-size: 1.4rem;
    margin: 0.4rem;
    color: var(--accentColor);
}

.dropdown {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: var(--headerLine);
    width: 200px;
    margin-top: 0.3rem;
    border: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    height: 20rem;
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}

.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.dropdown a {
    align-items: center;
    column-gap: 1rem;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: var(--accentColor);
}

.dropdown a:hover {
    color: var(--secondaryColor);
}

/*Dark/Light Mode*/

.dark-light-mode {
    position: fixed;
    z-index: 4;
    top: calc(var(--headerHeight) + 12.8rem);
    left: calc(var(--sideFrame) - 1.4rem);
    transform: rotate(-90deg);
    transform-origin: left top;
    display: flex;
    color: var(--accentColor);
    cursor: pointer;
}

.dark-light-mode * {
    margin: 1px 5px;
}

.dark, .light {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.dark-light-mode button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dark-light-mode .dark-label,
.dark-light-mode .light-label {
    font-size: 1rem;
    font-weight: bold;
}

.dark-light-mode .dark-checkbox,
.dark-light-mode .light-checkbox {
    width: 8px;
    height: 8px;
    border: 2px solid var(--accentColor);
    align-self: center;
    cursor: pointer;
}

.dark-light-mode .light-checkbox {
    background: var(--accentColor);
}

.dark-light-mode .dark-checkbox {
    background: var(--backgroundColor);
}

/*Main*/

/*Title Page*/
.content {
    position: relative;
    margin: var(--contentTopMargin) var(--contentSideMargin) 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    gap: 250px;
}

#title-page {
    position: relative;
    top: 0;
    z-index: 2;
    margin-left: var(--sideFrame);
    margin-right: var(--sideFrame);
    height: 85vh;
    width: calc(100vw - 2 * var(--sideFrame));
    display: flex;
    justify-content: left;
    align-items: center;
}

.background-art {
    width: 30vw;
    height: 30vw;
    position: absolute;
    right: 6vw;
    top: 10vh;
    z-index: 1;
    background: none;
}

.blueTorus,
.offWhiteTorus,
.maroonTorus {
    position: absolute;
    width: 100%;
    height: auto;
    background: none;
    z-index: 1;
}

.blueTorus {
    right: 0.4vw;
}

.offWhiteTorus {
    left: 0.4vw;
}

.title-content {
    position: absolute;
    margin: 22vh 10vw 1vh;
    width: 50vw;
    line-height: 1rem;
    color: var(--accentColor);
    z-index: 2;
    background: none;
}

.title-content * {
    background: none;
}

h1 {
    font-size: calc(48px + 1vw);
}

h2 {
    font-size: calc(32px + 1vw);
}

.what-i-do {
    color: var(--secondaryColor);
}

.title-content .description p {
    color: var(--textColor);
}

.title-content .hello,
.title-content .description {
    font-size: 1.5rem;
    color: var(--triadicColor);
}

/*Main Sections*/
#about-me,
#Experience,
#Projects,
#contact-me {
    position: relative;
    z-index: 2;
    width: 65vw;
    display: flex;
    gap: 5vw;
    align-items: center;
}

/*About Me*/
#about-me {
    left: 8%;
}

.profile {
    position: relative;
    align-self: flex-start;
    margin-top: 8vh;
}

.profile-pic {
    width: 28vw;
    height: auto;
    border: solid 3px var(--textColor);
    border-radius: 10px;
}

.description {
    position: relative;
}

.description ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#about-me h4 {
    margin: 1rem;
    color: var(--triadicColor);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    color: var(--textColor);
}

.skill i {
    font-size: 2.5rem;
}

h3,
h3 .underline {
    color: var(--accentColor);
    font-size: 3rem;
    width: 100%;
}

h3 span {
    color: var(--secondaryColor)
}

#about-me p {
    color: var(--textColor);
}

/*Experience*/
#Experience {
    right: 8%;
    color: var(--textColor);
}

#Experience .experience-title {
    display: flex;
}

.pnnl-logo {
    height: 100%;
}

.job-details {
    margin-left: 2vw;
}

/*Projects*/
#Projects {
    flex-direction: column;
    width: 70vw;
    color: var(--textColor);
}

#Projects .title {
    position: relative;
    left: 10%;
}

#Projects .underline {
    border-bottom: 3px double;
    border-color: var(--accentColor);
    background: none;
}

#Projects h3 {
    text-align: right;
    background: none;
}

#Projects span {
    border: none;
    text-align: left;
}

#Projects .thumbnail {
    height: 30vh;
    width: 30vw;
    border-radius: 5px;
    color: var(--textColor);
}

.thumbnail i {
    font-size: 2rem;
}

.project1, .project2, .project3 {
    position: relative;
}

#Projects h4 {
    color: var(--secondaryColor);
    margin-bottom: 1rem;
    border-bottom: double;
    border-color: var(--accentColor);
    border-width: 1px;
}

#Projects h4 span {
    color: var(--triadicColor);
}

#Projects ul {
    list-style: none;
}

.project.project1,
.project.project2 {
    margin: 3rem;
}

.project1 {
    margin-top: 0;
}

.project .project-details {
    width: 30vw;
    margin-left: 1rem;
}

.project .project-description {
    margin-bottom: 1rem;
}

.project2 .project-description {
    padding-right: 1rem;
}

.language-list {
    display: flex;
    justify-content: center;
}

.language-list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-list i {
    font-size: 2rem;
    text-align: center;
}

.project1,
.project2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.project1 img,
.project2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project1 .project-content,
.project2 .project-content {
    display: flex;
}

.project2 {
    display: flex;
    align-self: flex-start;
}

.project2 .project-content {
    flex-direction: row-reverse;
}

/*Contact Me*/
#contact-me {
    margin-bottom: 30vh;
    color: var(--textColor);
}

.contact-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.contact-me h3 {
    color: var(--secondaryColor);
}

.contact-me p {
    font-size: 1.5rem;
}

.whats-next {
    color: var(--triadicColor);
}

.contact-me .description {
    color: var(--triadicColor);
}

.contact-me .send-email {
    pointer-events: auto;
    font-size: 1.5rem;
    padding: 1.2rem;
    margin: 1rem;
    color: var(--accentColor);
    text-decoration: none;
    background: var(--seashell);
    border: solid;
    border-color: var(--accentColor);
    border-width: 2px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 var(--accentColor);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contact-me .send-email:hover {
    box-shadow: inset 220px 0 0 0 var(--accentColor);
    color: var(--backgroundColor);
}

.contact-me ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-me li {
    margin: 0.1rem;
}

.contact-me ul a {
    text-decoration-line: underline;
}

.contact-me ul a:hover {
    color: var(--secondaryColor);
}

/*Larger Monitors*/
@media only screen and (min-width: 1650px) {
    #title-page .background-art {
        top: 1vw;
    }
}

/*Anything smaller than a typical laptop screen*/
@media only screen and (max-width: 1110px) {
    /*Universal Design*/
    h3,
    h3 .underline {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    /*Dropdown*/
    nav .navbar-contents {
        display: none;
    }

    .dropdown-container {
        visibility: visible;
    }

    /*Title Page*/
    .background-art {
        width: 50vw;
        height: auto;
        top: 22vh;
        right: 1vw;
    }

    /*General Sections*/
    #about-me,
    #Experience,
    #Projects,
    #contact-me {
        width: 80%;
        right: 0;
        left: 0;
    }

    /*About Me*/
    #about-me {
        flex-direction: column;
        align-content: center;
    }

    .profile-pic {
    width: 70%;
    }

    .profile {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #Experience .pnnl {
        display: none;
    }

    #Projects .title {
        width: 125%;
        left: 0;
    }

    #Projects h3 {
        text-align: left;
    }

    .project {
        display: flex;
        align-self: center;
        width: 100%;
    }

    #Projects .thumbnail {
        align-self: center;
    }
}

/*Anything smaller than a tablet.*/
@media only screen and (max-width: 550px) {
    /*Universal Design*/
    * p {
        font-size: .8rem;
    }

    /*Frame*/
    .dark-light-mode {
        left: calc(var(--sideFrame) - 1.5rem);
    }

    .nav-art {
        bottom: 0;
    }

    .nav-art img {
        width: 50vw;
    }

    .btn {
        top: calc(var(--headerLine) / 5);
        right: var(--sideFrame);
    }

    /*Title Page*/
    .title-content {
        margin: 0;
        left: 5vw;
        width: 80vw;
    }

    .hello {
        font-size: 1.5rem;
    }

    .background-art {
        width: 50vw;
        height: auto;
        top: 22vh;
        right: 1vw;
    }

    /*Projects*/
    .project .project-content {
        flex-direction: column;
    }

    #Projects .thumbnail {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Projects .project-details {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    /*Contact Me*/
    .contact-me p {
        font-size: 1rem;
    }

    .contact-me li {
        font-size: 0.8rem;
    }
}